@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Source+Code+Pro&display=swap');
body{
    position: relative; 
    height: calc(100vh);
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.item_container{
    height: 100%;
    width: 100%;
}
#description{
    height: 100px;
    width: 90%;
    resize: none;
    text-indent: 10px;
    margin-inline: auto;
    text-indent: 1px;
    outline: none;
}
#title{
   width: 90%;
   font-size: small;
   border-radius: 5px;
   outline: none;
   text-indent: 1px;
   height: 40px;
   margin-inline: auto;
   border: solid gray 1px;
}
.item_container{
    margin-inline: auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.edit_and_delete{
    gap: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    display:flex ;
    justify-content: flex-end;
}
.item_and_description_container{
    padding: 10px;
    height: 200px;
    width: 600px;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title_container{
    overflow-x: scroll;
}
.item{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-top: 20px;
    margin-top: 20px;
    height: 150px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description_container{
    resize: none;
    overflow-y: scroll;
}
.add_btn{
    height: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: 30px;
    background-color: lightgreen;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    border: none;
}